@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    overflow: visible;
}

#Bg {
    background: url('../.././my-app/app/conponments/images/saturn-4k-t3qfys42a1xqeayz.jpg');
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} 



#SolorBG {
    background: url('./conponments/images/4331421_19221.jpg');
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Merucry {
    background-image: url('./conponments/images/murcury.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Font {
    font-family: "Economica", sans-serif;
     
    font-style: normal;
}

#H3Font {
    font-family: "Nunito", sans-serif;
}

#Venus {
    background: url('./conponments/images/venus.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Earth {
    background: url('./conponments/images/earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Mars {
    background: url('./conponments/images/mars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Jupiter {
    background: url('./conponments/images/jupiter.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Satrun {
    background: url('./conponments/images/Suturn.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Uranus {
    background: url('./conponments/images/uranus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Neptune {
    background: url('./conponments/images/Neptune.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#MilkyWay  {
    background: url('./conponments/images/MilkyWay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#WhatIS {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-family: "Nunito", sans-serif;
}